@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts removed since we're using Georgia now */

@layer base {
  :root {
    --background: #e4decc;
    --foreground: #1a1a1a;

    --card: #e4decc;
    --card-foreground: #1a1a1a;

    --popover: #e4decc;
    --popover-foreground: #1a1a1a;

    --primary: #1a1a1a;
    --primary-foreground: #e4decc;

    --secondary: #d6cfb8;
    --secondary-foreground: #1a1a1a;

    --muted: #ddd6c2;
    --muted-foreground: #444;

    --accent: #d6cfb8;
    --accent-foreground: #1a1a1a;

    --border: #cfc6ad;
    --input: #cfc6ad;
    --ring: #1a1a1a;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

body {
  background-color: #ffffff;
  color: #1a1a1a;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  img {
    display: block;
  }
}